
<a href=<%= addRoute %> type="button" class="btn btn-outline-primary">Add to <%= list_name %></a>

<div>
    <% if (item_list == "") {%>
        <h1 >Empty <%= list_name %> :(</h1>
    <% } else { %>
        <div class="d-flex overflow-scroll flex-column">
            <h1><%= capitalizeStringAsTitle(list_name) %></h1>
            <% for (elem of item_list){%>
                <div class="p-3 m-3 border border-primary bg-light">
                    <% if (elem.completed === false) {%>
                        <div>
                    <% } else { %>
                        <div class ="bg-secondary">
                    <% } %>
                        <div class="m-1 p-1">
                            <h2><u>Title:</u>&emsp;<%= elem.title %> </h2>
                            <h4><u>Description:</u>&emsp;<%= elem.description %></h4>
                            <h4><u>Priority:</u>&emsp;<%= elem.priority %></h4> 
                            <h4><u>Created At:</u>&emsp;<%= elem.createdAt.toLocaleDateString("en-US", { weekday: undefined, year: 'numeric', month: 'long', day: 'numeric' }) %></h4>                
                            <h4><u>Added by:</u>&emsp;<%= elem.addedBy %></h4> 
                        </div>              
                    </div>
                    <div class="column">
                        <% if (elem.completed === false) {%>
                            <a href=<%= insertElem(setCompletedRoute, elem._id) %> type="button" class="btn btn-outline-primary" >Finish</a>
                        <% } else { %>
                            <a href=<%= insertElem(setUncompletedRoute, elem._id) %> type="button" class="btn btn-outline-primary" >Unfinish</a>
                        <% } %>
                        <a href=<%= insertElem(deleteRoute, elem._id) %> type="button" class="btn btn-outline-primary float-end" onclick="return confirm('Are you sure you want to delete this item?')">Remove</a>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
</div>

<% function capitalizeStringAsTitle(string){
    const arr = string.split(" ");
    for (var i = 0; i < arr.length; i++) {
      arr[i] = arr[i].charAt(0).toUpperCase() + arr[i].slice(1);
    }
    const rString = arr.join(" ");
    return rString
  } %> 

  <% function insertElem(string, elemId){
    return string.replace('REPLACE-ELEM', elemId)
  } %> 